$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$primary-color: #000;
$secondary-color: rgb(165, 165, 165);
$tertiary-color:rgb(0, 138, 230);
$fourth-color: #dadada;

$link-color: rgb(0, 138, 230);
$link-hover-color:  rgb(0, 138, 230);

$default-radius: 5px;
$default-padding: 15px;

$default-margin: 15px;
$default-margin-bottom: 15px;