.navigation {

    padding: $default-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    

    .left {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;    
        color: $primary-color;

        .author-image {
            img {
                max-width: 60px;
                margin-right: $default-margin;
            }
        }

        .author-info {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-end;    
            color: $primary-color;

            div {
                a {
                    color: $primary-color;

                    h1, p { margin:0px; }

                    &:hover { text-decoration: none; }
                }

                &.description { a { color: $secondary-color;} }
            }
        }
    }

    .right {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;    
        color: $primary-color;

        ul {
            list-style-type: none;
            margin: 0px;
            margin-top: $default-margin;
            padding: 0px;
            
            li {
                display: inline;
    
                a { 
                    color: $primary-color; 

                    &:hover { text-decoration: underline; }
                }
    
                &:after {
                    content: "-";
                    padding: 0px 10px;                
                }
                
                &:first-child {
                    a { padding-left: 0px; }
                }
                
                &:last-child {
                    a { padding-right: 0px; }
    
                    &:after {
                        content: "";
                        padding: 0px;               
                    }
                }

                &.menu { a { } }
                &.social { a { } }
            }
        }
    }
    
}