.main-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;    

    .left {

    }

    .center {
        width: 830px;
    }

    .right {

    }
}
